html{
  font-size: 14px;
}

.app {
  text-align: center;
  font-family: Montserrat;
}

@media (max-width: 992px) {
  .app .context-area {
    padding: 80px 15vw 80px 15vw !important;
  }
}

@media (min-width: 993px) {
  .app .context-area {
    padding: 80px 85px 80px 85px !important;
  }
}
